# Ignore everything; explicitly allow project inputs.
*
!/.gitignore
!/AGENTS.md
!/README.md
!/LICENSE
!/CMakeLists.txt
!/Makefile

!/include/
!/include/kestrel/
!/include/kestrel/*.hpp
!/src/
!/src/*.cpp
!/tests/
!/tests/*.cpp
!/docs/
!/docs/**/
!/docs/**/*.md
